h1, h2, h3, h4, h5, h6, p, div, body {
	font-family: Lato !important;
}

.login {
	background-color: #F7F7F7;
}

#login {
	width: 350px;
	padding: 8% 0 0;
	margin: auto;
}

#login .title {
	background-color: #1468b3 !important;
	color: white;
	padding: 10px 25px;
	font-size: 18px;
}

#login .title h4 {
	line-height: 22px;
}

.login .form {
	margin-left: 0;
	padding: 30px 25px 80px;
	background: #fff;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);
	box-shadow: 0 1px 3px rgba(0,0,0,.13);
	width: 350px;
}

.login .form md-input-container label,
.login .form md-input-container input {
	font-size: 17px;
}

.login .form .submit-group {
	margin: 0;
    padding: 0;
    width: 100%;
}

.login .form .submit-group #submit {
	float: right;
	font-size: 16px;
	padding: 5px 15px;
	background-color: #1468b3 !important;
	color: #fff;
}

.login .form .error-message {
	border-right: 4px solid #dd3d36;
    margin-left: 0;
    padding: 12px;
    margin-bottom: 15px;
}