<md-toolbar class="md-theme-light">
	<h1 class="md-toolbar-tools">Użytkownik</h1>
</md-toolbar>

<md-content layout-padding class="user-edit-container" ng-controller="userEditCtrl">
	<form name="userEditForm" layout-wrap flex layout="row">
		<md-input-container class="list" flex="100">
			<label>Konto dla członka</label>
			<md-select ng-model="user.memberId" required>
				<md-option ng-value="member.id" ng-click="setUsername(member)" ng-repeat="member in membersList">{{member.firstName + ' ' + member.lastName}}</md-option>
			</md-select>
		</md-input-container>

		<md-input-container flex="100">
			<label>Nazwa użytkownika</label>
			<input ng-model="user.username" md-maxlength="50" minlength="2" disabled required autocomplete="off">
		</md-input-container>

		<md-input-container flex="100">
			<label>Hasło</label>
			<input ng-model="user.password" type="password" md-maxlength="32" minlength="5" required autocomplete="off">
		</md-input-container>

		<md-input-container flex="100">
			<label>Potwierdź hasło</label>
			<input ng-model="user.confirmPassword" type="password" md-maxlength="32" minlength="5" required autocomplete="off">
		</md-input-container>

		<div class="actions-row" layout="row" layout-align="end center">
			<md-button id="cancel" ng-click="close(userEditForm)">Anuluj</md-button>
			<md-button id="save" ng-hide="isEdit" ng-click="save(userEditForm)">Dodaj</md-button>
			<md-button id="save" ng-show="isEdit" ng-click="saveChanges(userEditForm)">Zapisz zmiany</md-button>
		</div>	
	</form>
</md-content>